.header {
    margin-top: 20px
        
}

.video {
      padding-top: 95px;
      border-radius: 6px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}
.samples {
    margin-bottom: 46px
}
